<div class="container">
   <div class="jumbotron jumbotron-fluid">
      <h1 class="display-4 burger-title">Eat-da-Burger</h1>
   </div>
</div>

{{!-- Eating the burger --}}
<div class="row" id="eat-burgers">
   <div class="col-sm-6">
      <h4 class="burgers-h4">Burgers to eat: </h4>
      {{#each burgers}}
      {{#unless devoured}}
      <div class="input-group">
         <audio id="chomp" preload="auto">
            <source src="./assets/sound/chomp.mp3">
            </source>
         </audio>
         <li class="form-control">{{id}}. {{burger_name}}</li>
         <input type="hidden" name="devoured" value="true">
         <span class="input-group-btn">
            <button class="btn btn-info devour-button" data-id={{id}} id="eat-it" type="submit">Devour It!
            </button>
         </span>
      </div>
      </form>
      {{/unless}}
      {{/each}}
   </div>

   {{!-- Burgers already eaten --}}
   <div class="col-md-6">
      <h4 class="burgers-h4">Scrumptious! Yumm!</h4>
      <div id="eaten-burgers">
         {{#each burgers}}
         {{#if this.devoured}}
         <div class="input-group">
            <li class="form-control">{{this.id}}. {{this.burger_name}}</li>
            <span class="input-group-btn">
               <button class="btn btn info devoured-button" type="text">Devoured!</button>
            </span>
         </div>
         {{/if}}
         {{/each}}
      </div>
   </div>
</div>
<script>
   $(document).ready(function () {
      $(".devour-button").on("click", function (event) {
         event.preventDefault();
         var id = $(this).data("id");
         console.log(id);
         $.ajax("/burgers/update/" + id, {
            type: "PUT"
         }).then(function (alert) {
            console.log("Mmm yum, that was delish!");
         });
         var audio = $("#chomp")[0];
         audio.play();
         alert("Mmm yum, that was delish!");
         window.location.reload();
      });
   });
</script>